@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    @if (SignInManager.IsSignedIn(User))
    {
        <a class="nav-link text-dark" asp-area="" asp-controller="Projects" asp-action="Index">Go to projects</a>
    }
</div>
